.ligtasbanko-provides-advanced,
.phishing-detection {
  position: absolute;
  letter-spacing: 0.06em;
  display: inline-block;
}
.phishing-detection {
  top: 108px;
  left: 114px;
  line-height: 29.17px;
  font-weight: 500;
  width: 169.2px;
  height: 30.2px;
}
.ligtasbanko-provides-advanced {
  top: 159px;
  left: 66px;
  font-size: var(--font-size-xs);
  line-height: 25px;
  width: 266px;
  height: 102px;
}
.icon {
  position: absolute;
  top: 60px;
  left: 181px;
  width: auto;
  height: 40px;
  object-fit: cover;
}
.real-time-alerts,
.users-receive-real-time {
  position: absolute;
  letter-spacing: 0.06em;
  display: inline-block;
}
.users-receive-real-time {
  top: 159px;
  left: 419px;
  font-size: var(--font-size-xs);
  line-height: 25px;
  width: 286px;
  height: 122px;
}
.real-time-alerts {
  top: 107px;
  left: 443px;
  line-height: 24.53px;
  font-weight: 500;
  width: 237px;
  height: 25px;
}
.icon1 {
  position: absolute;
  top: 55px;
  left: 541px;
  width: 41px;
  height: 38px;
  object-fit: cover;
}
.ligtasbanko-offers-a,
.phishing-check-tool {
  position: absolute;
  letter-spacing: 0.06em;
  display: inline-block;
}
.phishing-check-tool {
  top: 106px;
  left: 817px;
  line-height: 26.38px;
  font-weight: 500;
  width: 230px;
  height: 27px;
}
.ligtasbanko-offers-a {
  top: 159px;
  left: 792px;
  font-size: var(--font-size-xs);
  line-height: 25px;
  width: 280px;
  height: 115px;
}
.icon2 {
  position: absolute;
  top: 55px;
  left: 911px;
  width: 38px;
  height: 38px;
  object-fit: cover;
}
.phishing-reporting-system,
.users-can-easily {
  position: absolute;
  letter-spacing: 0.06em;
  display: inline-block;
}
.phishing-reporting-system {
  top: 418px;
  left: 43px;
  line-height: 29.77px;
  font-weight: 500;
  width: 311px;
  height: 31px;
}
.users-can-easily {
  top: 469px;
  left: 66px;
  font-size: var(--font-size-xs);
  line-height: 25px;
  width: 266px;
  height: 117px;
}
.icon3 {
  position: absolute;
  top: 365px;
  left: 177px;
  width: 44px;
  height: 38px;
  object-fit: cover;
}
.educational-resources,
.ligtasbanko-provides-comprehen {
  position: absolute;
  letter-spacing: 0.06em;
  display: inline-block;
}
.educational-resources {
  top: 417px;
  left: 419px;
  line-height: 28.03px;
  font-weight: 500;
  width: 285px;
  height: 29px;
}
.ligtasbanko-provides-comprehen {
  top: 469px;
  left: 427px;
  font-size: var(--font-size-xs);
  line-height: 25px;
  width: 278px;
  height: 117px;
}
.icon4 {
  position: absolute;
  top: 365px;
  left: 543px;
  width: 38.7px;
  height: 38.2px;
  object-fit: cover;
}
.customizable-alerts,
.users-can-customize {
  position: absolute;
  letter-spacing: 0.06em;
  display: inline-block;
}
.customizable-alerts {
  top: 419px;
  left: 797px;
  line-height: 25.24px;
  font-weight: 500;
  width: 270px;
  height: 26px;
}
.users-can-customize {
  top: 469px;
  left: 800px;
  font-size: var(--font-size-xs);
  line-height: 25px;
  width: 273px;
  height: 144px;
}
.icon5 {
  position: absolute;
  top: 365px;
  left: 913px;
  width: 38px;
  height: 38px;
  object-fit: cover;
}
.ligtasbanko {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-poppins);
  margin-left: 10px;
  margin-top: 15px;
}









.phishing-is-when,
.phishing1 {
  position: absolute;
  left: 637.3px;
  letter-spacing: 0.06em;
  line-height: 22.47px;
  display: inline-block;
}
.phishing1 {
  top: 117.8px;
  font-weight: 500;
  width: 272.4px;
  height: 40.3px;
  font-size: 28px;
  color: #8B0000;
}
.phishing-is-when {
  top: 171.7px;
  font-size: 14px;
  color: var(--color-darkslategray);
  width: 400.7px;
  height: 208.5px;
}
.phishing-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 491.7px;
  height: 527.7px;
  object-fit: cover;
  animation: float 5s ease-in-out infinite;
}
.group-child2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 44.95px;
  background-color: #8B0000;
  width: 187px;
  height: 43.1px;
}
.learn-more {
  position: absolute;
  top: 9px;
  left: 54.9px;
  letter-spacing: 0.06em;
  line-height: 22.47px;
  display: inline-block;
  width: 76.4px;
  height: 25.2px;
}
.group-wrapper,
.rectangle-container2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 187px;
  height: 43.1px;
  cursor: pointer;
}
.group-wrapper {
  top: 377.7px;
  left: 637.3px;
  text-align: center;
  font-size: 12px;
  color: white;
}
.phishing-parent {
  position: absolute;
  top: 43px;
  left: 55px;
  width: 987px;
  height: 527.7px;
}
.phishing {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: 14.4px;
  font-family: var(--font-poppins);
}






.benign-means-something,
.safe1 {
  position: absolute;
  left: 0;
  letter-spacing: 0.06em;
  line-height: 22.47px;
  display: inline-block;
}
.safe1 {
  top: 99px;
  font-weight: 500;
  width: 272.4px;
  height: 40.3px;
  color: #015D43;
  font-size: 28px;
}
.benign-means-something {
  top: 152.9px;
  font-size: 14px;
  color: var(--color-darkslategray);
  width: 390.7px;
  height: 208.5px;
}
.group-child3 {
  position: absolute;
  top: -30px;
  left: 0;
  border-radius: 44.95px;
  background-color: #015D43;
  width: 187px;
  height: 43.1px;
  
}
.learn-more1 {
  position: absolute;
  top: -20px;
  left: 43.8px;
  letter-spacing: 0.06em;
  line-height: 22.47px;
  display: inline-block;
  width: 100.4px;
  height: 25.2px;
  text-align: center;
  font-size: 12px;
  color: white;
}
.group-container,
.group-div {
  position: absolute;
  top: 100px;
  left: 0;
  width: 187px;
  height: 43.1px;
  cursor: pointer;
}
.group-container {
  top: 286px;
  text-align: center;
  font-size: var(--font-size-2xs-8);
  color: var(--color-white);
}
.safe-1-icon,
.safe-parent {
  position: absolute;
  top: 0;
  height: 450px;
}
.safe-1-icon {
  left: 570px;
  width: 464px;
  object-fit: cover;
  animation: float 5s ease-in-out infinite;
}
.safe-parent {
  left: 98px;
  width: 942px;
}
.safe {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini-4);
  color: var(--color-turquoise);
  font-family: var(--font-poppins);
}







