<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js"></script>
    <link rel="shortcut icon" href="../static/assets/logo.png" type="image/x-icon" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ligtasbanko</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/mediaqueries.css">
    <link rel="stylesheet" href="../static/css/banko-ligtas1.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/why-us.css">
    <link rel="stylesheet" href="../static/css/detect.css">

  </head>
  <body>
    <nav id="desktop-nav">
      <div class="logo">ligtasbanko</div>
      <div>
        <ul class="nav-links">
          <li><a href="#profile">Home</a></li> <!-- About -->
          <li><a href="#services">Services</a></li>  <!-- Experience -->
          <li><a href="#info">Info</a></li>  <!-- Project -->
          <li><a href="#tools">Tools</a></li>  <!-- New -->
          <li><a href="#contact">Contact Us</a></li>  <!-- Contact-->
        </ul>
      </div>
    </nav>

    <nav id="hamburger-nav">
      <div class="logo">LigtasBanko</div>
      <div class="hamburger-menu">
        <div class="hamburger-icon" onclick="toggleMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="menu-links">
          <li><a href="#profile" onclick="toggleMenu()">Home</a></li>
          <li><a href="#services" onclick="toggleMenu()">Services</a></li>
          <li><a href="#info" onclick="toggleMenu()">Info</a></li>
          <li><a href="#tools" onclick="toggleMenu()">Tools</a></li>
          <li><a href="#report" onclick="toggleMenu()">Report</a></li>
          <li><a href="#contact" onclick="toggleMenu()">Contact Us</a></li>
        </div>
      </div>
    </nav>
    
    <section id="profile">
      <div class="lg-container">
        <img src="../static/assets/logo.png" alt="Logo" class ="lg-img"/>
      </div>
      <div class="section__text">
        <p class="section__text__p0">Introducing</p>
        <h1 class="h1_style">LigtasBanko</h1>
        <br>
        <br>
        <p></p>
        At LigtasBanko, we believe that every Filipino bank user deserves to be protected from the dangers of phishing scams. We are dedicated to providing the most advanced and effective URL phishing detection solutions, ensuring that our users can bank safely and confidently in the digital world.

        Join us in our mission to safeguard Filipino bank users and create a safer, more secure online banking experience for all.

         </p>
        </div>
      </div>
    </section>

   


    <section id="services">
      <p class="section__text__services">Get to know our</p>
      <h1 class="title-services">Services</h1>
      <div class="ligtasbanko">
        <div class="phishing-detection-parent">
          <div class="phishing-detection">Phishing Detection</div>
          <div class="ligtasbanko-provides-advanced">
            LigtasBanko provides advanced phishing detection capabilities powered
            by deep learning algorithms and real-time threat intelligence.
          </div>
          <img class="icon" alt="" src="../static/assets/ServicesLogo/1.png" />
        </div>
        <div class="users-receive-real-time-alerts-parent">
          <div class="users-receive-real-time">
            Users receive real-time alerts about ongoing phishing campaigns,
            enabling them to stay informed and take proactive measures to protect
            themselves against potential threats.
          </div>
          <div class="real-time-alerts-parent">
            <div class="real-time-alerts">Real-Time Alerts</div>
            <img class="icon1" alt="" src="../static/assets/ServicesLogo/2.png" />
          </div>
        </div>
        <div class="phishing-check-tool-parent">
          <div class="phishing-check-tool">Phishing Check Tool</div>
          <div class="ligtasbanko-offers-a">
            LigtasBanko offers a user-friendly phishing check tool that allows
            users to input and analyze URLs. The tool provides detailed reports
            and recommendations for further action.
          </div>
          <img class="icon2" alt="" src="../static/assets/ServicesLogo/3.png" />
        </div>
        <div class="phishing-reporting-system-parent">
          <div class="phishing-reporting-system">Phishing Reporting System</div>
          <div class="users-can-easily">
            Users can easily report suspicious emails, links, and attachments
            through LigtasBanko's reporting system with quick analysis and
            response to reported incidents.
          </div>
          <img class="icon3" alt="" src="../static/assets/ServicesLogo/4.png" />
        </div>
        <div class="educational-resources-parent">
          <div class="educational-resources">Educational Resources</div>
          <div class="ligtasbanko-provides-comprehen">
            LigtasBanko provides comprehensive educational resources on phishing
            awareness and prevention to help users recognize and avoid phishing
            attacks.
          </div>
          <img class="icon4" alt="" src="../static/assets/ServicesLogo/5.png" />
        </div>
        <div class="customizable-alerts-parent">
          <div class="customizable-alerts">24/7 Customer Support</div>
          <div class="users-can-customize">
            LigtasBanko offers round-the-clock customer support to assist users with any questions, concerns, or technical issues they may encounter while using the platform. 
          </div>
          <img class="icon5" alt="" src="../static/assets/ServicesLogo/6.png" />
        </div>
      
      </section>
      <section id="services2">
        <br>
        <br>
        <br>
      
      <h1 class="title">Why Choose LigtasBanko</h1>
      <br>
      <p class="section__text__p1">Discover the difference LigtasBanko's industry-leading tools can make in fortifying your financial security. </p>

      <div class="why-us">
        <div class="rectangle-group">
          <div class="group-inner"></div>
          <div class="rectangle-div"></div>
          <div class="group-child1"></div>
          <div class="cutting-edge-technology">Cutting-Edge Technology</div>
          <div class="ligtasbanko-utilizes-state-of-">
            LigtasBanko utilizes state-of-the-art Convolutional Neural Networks
            (CNN) to achieve an impressive accuracy rate of 99.12% in detecting
            phishing attempts. Our advanced AI algorithms continuously analyze and
            learn from evolving threats to provide unparalleled protection for our
            users.
          </div>
          <div class="we-understand-the">
            We understand the unique needs of our Filipino users, which is why
            LigtasBanko offers localized phishing detection tailored to the
            Philippine context. Our platform is equipped to identify
            region-specific phishing tactics and provide targeted defense measures
            to keep your accounts safe.
          </div>
          <div class="at-ligtasbanko-your-container">
            <p class="at-ligtasbanko-your">
              At LigtasBanko, your security is our top priority. We are dedicated
              to providing you with the most robust and effective phishing
              detection and prevention solutions available. Our team works
              tirelessly to stay ahead of emerging threats and ensure that you can
              browse the web with confidence.
            </p>
            <p class="at-ligtasbanko-your">&nbsp;</p>
          </div>
          <div class="localized-protection">Localized Protection</div>
          <div class="commitment-to-security">Commitment to Security</div>
        </div>
      </div>

      </div>
    </section>
      

    <section id="info">
      <br>

      <p class="section__text__p1">Let's delve into</p>
      <h1 class="title">Phishing Information</h1>
      <div class="phishing">
        <div class="phishing-parent">
          <div class="phishing1">Phishing</div>
          <div class="phishing-is-when">
            Phishing is when someone pretends to be someone they're not, like a
            friend or a company, to trick you into giving them your personal
            information, like your password or bank details. They might send you
            an email or a message that looks real, but it's actually a trick to
            steal your information. So, it's important to be careful and not share
            your private information with anyone you don't know or trust.
          </div>
          <img class="phishing-1-icon" alt="" src="../static/assets/phishing.png" />
  
          <div class="group-wrapper" onclick="window.open('https://us.norton.com/blog/how-to/how-to-protect-against-phishing')">
            <div class="rectangle-container2">
              <div class="group-child2"></div>
              <div class="learn-more">Learn More</div>
            </div>  
          </div>
        </div>
      </div>
    </section>

    <section id ="info">
      <div class="safe">
        <div class="safe-parent">
          <div class="safe1">Benign</div>
          <div class="benign-means-something">
            Benign means something is safe or harmless. In the context of the
            internet, a benign email, link, or website is one that doesn't try to
            trick you or harm your computer or personal information. It's like
            when you get a friendly message from a friend or visit a website that
            just has fun games or interesting information, and it doesn't cause
            any problems for you.
          </div>
          <div class="group-container" onclick="window.open('https://www.hostinger.com/tutorials/how-to-check-if-a-link-is-safe')">
            <div class="group-div">
              <div class="group-child3"></div>
              <div class="learn-more1">Learn More</div>
            </div>
          </div>
          <img class="safe-1-icon" alt="" src="../static/assets/safe.png"/>
        </div>
      </div>
      
    </section>
   
   
<!-- NEW -->

<section id="tools">
  <br>
     <p class="section__text__p1">Unleash the power of LigtasBanko's</p>
     <h1 class="title-tools">Tools</h1>
     <br>
     <img src="../static/assets/tools.png" alt="Logo" class ="tools-img"/>
     <br>
     <br>
     <br>
     <p class="section__text__p1">Join the fight against phishing and unleash the power of our tools to protect yourself and <br> your community from these increasingly sophisticated cyber threats.</p>
     <div class="ligtasbanko4">
       <div class="rectangle-parent">

         <a href="{{ url_for('report_phishing') }}">
         <div class="group-child"></div>
         <div class="report-phishing">Report Phishing </div> 
           </a>

           <!-- index.html -->
         <a href="{{ url_for('detect_phishing') }}">
           <div class="group-item"></div>
           <div class="detect-phishing">Detect Phishing</div>
         </a>

         <!-- index.html -->
         <a href="{{ url_for('email_pwn') }}">
          <div class="group-email"></div>
          <div class="email-checking">Email PwN Checker</div>
        </a>

           


       </div>
     </div>
     <br>
     
   </section>


 
    
    <section id="contact">
    
    <p class="section__text__p1">Get in touch</p>
    <h1 class="title">Contact Us</h1>
    <br>
    <p class="section__text__p1">We value your feedback and are here to assist with any questions or concerns you may have. <br>Your input helps us improve our services and provide you with the best experience possible. </p>
    <br>

    <form id="contact-us" novalidate> 
      <div class="contact-us1">
          <div class="rectangle-parent1">
              <!-- Name Input -->
              <div class="group-child4">
                <img class="personcircle-icon" alt="" src="../static/assets/user.png" />
                <div class="form-group">
                  <input type="text" id="nameInput" class="input-rectangle" placeholder="Name" required >
                  <label class="form-label">Name</label>
                </div>
              </div>
              <!-- Email Input -->
              <div class="group-child5">
                <img class="envelopefill-icon" alt="" src="../static/assets/email.png" />
                <div class="form-group">
                  <input type="email" id="emailInput" class="input-rectangle" placeholder="Email" required>
                  <label class="form-label">Email</label>
                </div>
              </div>
              <!-- Subject Button -->
              <div class="group-child6">
                <img class="patchquestionfill-icon" alt="" src="../static/assets/subject.png" />
                <button id="subjectButton" class="button-rectangle">Select a subject</button>
                <!-- Dropdown Content -->
                <div class="options-container" style="display: none;">
                    <label class="option-label">General Inquiry</label>
                    <label class="option-label">Services</label>
                    <label class="option-label">Features</label>
                    <label class="option-label">Phishing Check Tool</label>
                    <label class="option-label">Phishing Report Tool</label>
                </div>
              </div>


              <!-- Message Input -->
              <div class="group-child7">
                <img class="chatlefttextfill-icon" alt="" src="../static/assets/message.png" />
                <div class="form-group">
                <input type="text" id="messageInput" class="input-rectangle" placeholder="Enter your message" required>
                <label class="form-label">Enter your message</label>
                </div>
            </div>
              <!-- Submit Button -->
              <div class="group-child8">
                  <button type="submit" class="submit">Submit</button>
              </div>
          </div>
      </div>
    </form>
    
  </section>
    <footer>
      <div class="ligtasbanko5">
        <div class="ligtasbanko3">ligtasbanko</div>
        <div class="home-services-info-wrapper">
          <div class="home-services-info-container">
            <p class="home"><a href="#profile">Home</a></p>
            <p class="home"><a href="#services">Services</a></p>
            <p class="home"><a href="#info">Info</a></p>
          </div>
        </div>
        <div class="tools-report-contact-us-wrapper">
          <div class="tools-report-contact-container">
            <p class="home"><a href="#tools">Tools</a></p>
            <p class="home"><a href="#contact">Contact Us</a></p>
          </div>
        </div>
        <div class="terms-and-conditions-container">
          <a class="a2" href="{{ url_for('static', filename='Docs/LigtasBanko-TermsandConditions.pdf') }}" target="_blank">Terms and Conditions</a>
          <a class="a2" href="{{ url_for('static', filename='Docs/LigtasBanko-PrivacyPolicy.pdf') }}" target="_blank">Privacy Policy</a>
          <br>
          <a class="a2" href="{{ url_for('static', filename='Docs/LigtasBanko-CookiePolicy.pdf') }}" target="_blank">Cookie Policy</a>
        </div>
               
        <div class="copyright-2024">
          Copyright © 2024 LigtasBanko. All Rights Reserved.
        </div>
        <div class="icons8-facebook-50-2-parent">
          <img
            class="icons8-facebook-50-2"
            alt=""
            src="../static/assets/fb.png"
            onclick="window.open('https://www.facebook.com/christinetorres.marasigan')"
          />

          <div class="follow-us">Follow us</div>
          <img
            class="icons8-instagram-50-1-2"
            alt=""
            src="../static/assets/ig.png"
            onclick="window.open('https://www.instagram.com/iedzel/')"
          />
          <img class="linkedin-1-icon" alt="" src="../static/assets/linkedin.png" onclick="window.open('https://www.linkedin.com/in/christine-marasigan-0907802a8/')"/>
  
          <img class="github-1-icon" alt="" src="../static/assets/github.png" onclick="window.open('https://github.com/Malceid')"/>
        </div>
      </div>
    
    </footer>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
  </body>
</html>
